.login-body {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#login-image-container {
  width: 50%;
  height: 90vh;
  background-color: rgba(29, 161, 242, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-authentication {
  width: 50%;
  height: 90vh;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
#login-image {
  width: 100%;
  height: 100%;
}
#login-svg-container {
  position: absolute;
  width: 200px;
  height: 200px;
  max-width: 200px;
}
#login-authentication-bird-icon {
  width: 50px;
  height: 50px;

  padding-top: 60px;

  margin-bottom: 10%;
}
#login-signup-btn {
  width: 70%;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(29, 161, 242, 1);
  font-size: 20px;
  color: white;
  cursor: pointer;
  border: 0px;
  text-align: center;
}
#login-signup-btn:hover {
  opacity: 0.8;
}
#login-login-btn {
  width: 70%;
  padding: 20px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  border: solid 2px rgba(29, 161, 242, 1);
  color: rgba(29, 161, 242, 1);
  text-align: center;
  display: block;
}
#login-login-btn:hover {
  background-color: lightblue;
  opacity: 0.95;
}
.login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  /*display: none;*/

  list-style-type: none;

  font-size: 0.7rem;

  flex-wrap: wrap;
}
.login-footer a {
  color: gray;
  text-decoration: none;

  display: block;
  margin: 1%;
}
.login-footer a:hover {
  text-decoration: underline;
}

#screen-not-available {
  width: 100%;
  height: 100vh;
  background-color: rgba(29, 161, 242, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  display: none;
  flex-direction: column;
}

@media only screen and (max-width: 1271px) {
  #screen-not-available {
    display: none;
  }
}

@media only screen and (min-width: 1271px) {
  .login-footer {
    display: flex;
  }
  .login-body {
    display: flex;
  }
}

@media only screen and (max-width: 990px) {
  .login-body {
    flex-direction: column-reverse;
  }
  #login-image-container {
    height: 40%;
    width: 100%;
  }
  #login-authentication {
    justify-content: center;
  }
  #sign-login-btn-cont {
    display: flex;
    justify-content: space-between;
  }
  #login-signup-btn {
    width: 45%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #login-login-btn {
    width: 45%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #login-authentication-bird-icon {
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 5%;
  }
}
@media only screen and (max-width: 500px) {
  #login-authentication {
    width: 100%;
  }
}
@media only screen and (max-width: 350px) {
  #login-authentication {
    height: 50vh;
  }
}

#home-link {
  padding: 2%;

  background-color: white;

  text-decoration: none;
  width: 30%;
  text-align: center;
  border-radius: 15px;
}

#home-link-wrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}
