#sign-in-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#login-content-box {
  width: 40%;

  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

#sgnin-svg-wrapper {
  height: 80px;
  width: 80px;
  color: rgba(29, 161, 242, 1);
}
#signin-input-username {
  width: 300px;
  padding-top: 15px;
  margin-bottom: 10px;
}
#signin-input-password {
  width: 300px;
  padding-top: 15px;
}
/*
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    /* justify-content: center;
*/
#button-container {
  display: flex;
  width: 300px;
}

#login-btn {
  width: 300px;

  padding: 10px;
  border-radius: 25px;
  border: 0px;
  background-color: rgba(29, 161, 242, 1);
  color: white;
}

#overlay-text-container-username {
  color: rgba(29, 161, 242, 1);
  position: absolute;
  margin-left: 1%;
  font-size: 0.9em;
}

#overlay-text-container-password {
  position: absolute;
  margin-left: 1%;
  font-size: 0.8em;
}

#signin-forgot-password-container {
  font-size: 0.8em;
  padding: 2%;
  padding-left: 15%;
}

@media only screen and (max-width: 529px) {
  #login-content-box {
    width: 100%;
  }
}
@media only screen and (max-width: 370px) {
  #signin-input-username {
    width: 90%;
  }
  #signin-input-password {
    width: 90%;
  }
  #button-container {
    width: 90%;
  }
  #login-btn {
    width: 100%;
  }
  #signin-forgot-password-container {
    width: 90%;
  }
}
